autoit==0.1
beautifulsoup4==4.8.1
CairoSVG==2.4.2
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
clarifai==2.6.2
Click==7.0
configparser==4.0.2
cryptography==2.8
cssselect2==0.2.2
decorator==4.0.11
defusedxml==0.6.0
EasyProcess==0.2.8
emoji==0.5.4
facebook-sdk==3.1.0
filetype==1.0.5
Flask==1.1.1
flask-peewee==3.0.3
Flask-SQLAlchemy==2.4.1
future==0.18.2
googleapis-common-protos==1.6.0
grpcio==1.26.0
idna==2.8
imageio==2.1.2
instagram-private-api==1.6.0.0
instagram-private-api-extensions==0.3.8
InstagramAPI==1.0.2
instapy-cli==0.0.12
itsdangerous==1.1.0
Jinja2==2.10.3
jsonschema==2.6.0
MarkupSafe==1.1.1
MeaningCloud-python==1.2.1
moviepy==0.2.3.2
numpy==1.18.0
peewee==3.13.1
Pillow==6.2.1
plyer==1.4.2
protobuf==3.11.2
PyAutoIt==0.6.0
pycparser==2.19
Pyphen==0.9.5
pyTelegramBotAPI==3.5.0
python-dotenv==0.10.5
python-telegram-bot==12.2.0
PyYAML==5.2
regex==2019.12.20
requests==2.22.0
requests-toolbelt==0.7.0
selenium==3.141.0
six==1.13.0
soupsieve==1.9.5
SQLAlchemy==1.3.13
tinycss2==1.0.2
tornado==6.0.3
tqdm==4.11.2
urllib3==1.25.7
webdriverdownloader==1.0.0.1
webencodings==0.5.1
Werkzeug==0.16.0
wtf-peewee==3.0.0
WTForms==2.2.1
